body {
  font-family: "Arial", "sans-serif";
}

.wrapper {
  display: block;
  width: 100%;
}

.box {
  margin: 24px;
  border: 2px solid black;
  background-color: lightsalmon;
  color: white;
  padding: 12px;
  font-weight: bold;
}
