body {
  font-family: "Arial", "sans-serif";
}

.wrapper {
  display: block;
  width: 100%;
}

.box {
  margin: 24px;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px #aaa;
  border-top: 3px solid lightslategray;
  padding: 12px;
  font-weight: bold;
}
